#root{
  padding: 0;
  margin: 0;
  
}

.header-container{
  background-color: #6943FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.header-container >h1{
  margin: 20px;
  color:#FFFFFF ;
  font-family: "Inter",sans-serif;
  font-weight: 800;
  font-size: 40px;

}
.header-container >input{
  margin: 20px;
  background-color: #6943FF;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 120px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 80px;
}
.header-container >button{
  margin: 20px 0 50px 0;
  padding: 15px 40px;
  background-color: white;
  color: #3D3D3D;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
.bottom-container{
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  gap: 20px;
}
.conversion{
  background-color: #FFFFFF;
  border-radius: 10px;
  display:flex ;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 95%;
  margin: 20px;
}
.conversion >h1{
  color: #5A537B;
  font-family:"Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  
}
.conversion >p{
 
  font-family: "Inter",sans-serif;
  font-size: 20px;
  font-weight: 600;
}